---
import Layout from '../../layouts/Resume.astro';
import Project from '../../components/Project.astro';
import PersonalInfo from '../../components/PersonalInfo.astro';
import Education from '../../components/Education.astro';
import { getResumeData } from '../../../data/resume/index';

const data = getResumeData('en');
const { projects, name, personalInfo, skills } = data;
const skillsKeys = Object.keys(skills);
---

<Layout
  title={`${name} - Resume`}
  pdfLink="resume.en.pdf"
  description={`Resume about ${name}`}
  lang="en"
>
  <h1>{name}</h1>
  <PersonalInfo {...personalInfo} />
  <h2>Technologies & Skills</h2>
  <ul>
    {
      skillsKeys.map((skill) => (
        <li>
          <strong>{skill}</strong>: {skills[skill]}
        </li>
      ))
    }
  </ul>
  <h2>Education</h2>
  <Education />
  <h2>Projects</h2>
  {projects.map((project) => <Project {...project} />)}
</Layout>
