---
import '@fontsource/poppins';
import Download from '../components/Download.astro';
import LanguageSwitcher from '../components/LanguageSwitcher.astro';
import '../styles/resume.css';

type Props = {
  title: string;
  pdfLink: string;
  description?: string;
  lang?: 'en' | 'es';
};

const { title, pdfLink, description, lang = 'en' } = Astro.props;

const { PDF_VIEW, FORCE_THEME = '' } = import.meta.env;
---

<!doctype html>
<html lang={lang} class={FORCE_THEME}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description || title} />
    <meta name="robots" content="noindex" />
    <link rel="alternate" hreflang="en" href="https://viespejo.github.io" />
    <link rel="alternate" hreflang="es" href="https://viespejo.github.io/es" />
    <title>{title}</title>
  </head>
  <body class={!PDF_VIEW ? 'bg-indigo-50 dark:bg-slate-900 sm:my-14' : ''}>
    <div class="container mx-auto flex justify-center">
      <article
        class={!PDF_VIEW ? 'minimalist relative' : 'minimalist relative !py-0'}
      >
        {
          !PDF_VIEW && (
            <div class="not-prose absolute right-4 top-4 flex items-center gap-4">
              <LanguageSwitcher />
              <Download href={pdfLink} />
            </div>
          )
        }
        <slot />
      </article>
    </div>
    <style></style>
  </body>
</html>
